{
	"printWidth": 100,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 4,
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"parser": "angular",
				"useTabs": true,
				"tabWidth": 4
			}
		},
		{
			"files": ["*.css", "*.scss"],
			"options": {
				"useTabs": true,
				"tabWidth": 4
			}
		},
		{
			"files": "*.json",
			"options": {
				"useTabs": true,
				"tabWidth": 4
			}
		}
	]
}
